<%- if !@users.blank? -%>
  <%- for user in @users -%>
    <% div_for user do %>
      <p><%= link_to user.twitter_username, user_path(user) %></p>
    <% end -%>
  <%- end -%>
<%- else -%>
  <p>None</p>
<%- end -%>
