<h1>Using Flickr4Twitter's Web Interface</h1>

<div>
  <p>
  <ol>
    <li><p>Click "Upload Photo" from the menu</p></li>
    <li><p>Select an image to upload by clicking "Browse..."</p></li>
    <li><p>Enter your tweet (optional)</p></li>
    <li><p>Select "Post Tweet"</p></li>
  </ol>
</div>
