<%- content_for :title do -%>Web Interface Guide<%- end -%>
<div id="join_web_guide_page">
  <h2>Using Flickr4Twitter's Web Interface</h2>
  <ol>
    <li><p>Click "Upload Photo" from the menu</p></li>
    <li><p>Select an image to upload by clicking "Browse..."</p></li>
    <li><p>Enter your tweet (optional)</p></li>
    <li><p>Select "Post Tweet"</p></li>
  </ol>
</div>
