<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= yield(:title) || 'Flickr4Twitter' %></title>

	<%= stylesheet_link_tag 'blueprint/screen.css', 'formtastic.css', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'application.css', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'blueprint/print.css', :media => 'print' %>
  <%- if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <!--[if lt IE 8]>
      <%= stylesheet_link_tag 'blueprint/ie.css', :media => 'screen,projection' %>
    <![endif]-->
  <%- end -%>

  <%= javascript_include_tag 'jquery-1.3.2.min.js' %>
  <%= javascript_include_tag 'jquery.maxlength.js' %>
  <%= javascript_include_tag 'application.js' %>
</head>

<body>
  <div id="header">
    <%= render :partial => 'layouts/menu' %>
    <%= render :partial => 'layouts/user_menu' %>
  </div>
  
  <div class="container">
    <%= render :partial => "shared/flashes" %>
  
    <div id="main_content">
      <%= yield %>
    </div>
  </div>
  
  <script type="text/javascript" charset="utf-8">
    var is_ssl = ("https:" == document.location.protocol);
    var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
    document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <script type="text/javascript" charset="utf-8">
    var feedback_widget_options = {};

    feedback_widget_options.display = "overlay";  
    feedback_widget_options.company = "flickr4twitter";
    feedback_widget_options.placement = "right";
    feedback_widget_options.color = "#FF1473";
    feedback_widget_options.style = "idea";
  
    var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
  </script>
  
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-3681150-3");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>


</body>
</html>
